<div id="rightcol">
	<h1>Tech Talent South Project Example</h1>
	<img src = "https://s3.amazonaws.com/media-p.slid.es/uploads/tts-jaime/images/958109/TechTalentSouthLogo.jpg" alt="TTS Logo" height ="200" width="200">
	<p>This page was created as a project of Tech Talent South at the Asheville cohort from December 8th, 2014 to February 14th, 2015.  This is an example of the fruition of the labor of love and learning that you will be able to achieve.  Please click the link below to find out more information about classes, cost, and locations. Happy Coding!
	</p>
	<img src = "http://media.charlotteobserver.com/smedia/2014/10/16/14/50/fnYG3.Em.138.png" alt="Apply Now" height="200" width="200">
	
</div>
<div id="leftcol">
<h1>Welcome to Pintrest Sample App!!</h1>
<p>
	Welcome to the TTS Pintrest Sample App, an application where you can connect with friends and family via sharing media!
</p>
<p class="home_button"><a class="btn btn-primary btn-lg", href = "/about" role="button">Learn More</a></p>

<strong><p>
	<% if user_signed_in? %>
	Logged in as <%= current_user.email %> </br>
	<%= link_to 'Edit Profile', edit_user_registration_path, :class => "'navbar-link" %>
		| <%= link_to 'Log Out', destroy_user_session_path, method: :delete, :class => "navbar-link" %>
	<% else %>
		<%= link_to 'Sign Up', new_user_registration_path, :class => "navbar-link" %>
	<% end %>
</strong></p>

</div>

